body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.chat-container {
    width: 100%;
    max-width: 400px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    height: 90vh;

}

.chat-header {
    background-color: grey;
    color: white;
    padding: 15px;
    text-align: center;
}

.chat-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.messages {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.message-content {
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}

.user-messge {
    flex-direction: row-reverse;
}

.user-messge .message-content {
    background-color: rgb(0, 251, 255);
    margin-right: 10px;
}

.bot-message .message-content {
    background-color: grey;
    margin-left: 10px;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-input-container {
    display: flex;
    padding: 15px;
    background-color: black;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid grey;
    font-size: 1rem;
    background-color: black;
    color: white;
    outline: none;
}

#send-button {
    padding: 10px 20px;
    background-color: aqua;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1rem;
}

#send-button:hover {
    background-color: rgb(0, 255, 213);
}

#send-button:disabled {
    background-color: aqua;
    cursor: not-allowed;
}

@media (max-width: 480px) {
    .chat-container {
        height: 100vh;
        border-radius: 0;
    }
}

